$titletextcolor: rgb(66, 66, 66);
$subtitletextcolor: gray;

.maincontainer{
    background-color: #f1f3f6ca;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.productpage {
    margin-top: 45px;
    background-color: #fff;
    display: flex;
    padding: 20px;
    width: 85%;
    &__productdetails {

        margin: 0px 20px;

        &--title {
            font-size: 17px;
            color: $titletextcolor;
            margin: 10px;
        }

        &--ratings {
            color: $subtitletextcolor;
            margin: 0px 10px;
        }

        &--price{
            margin: 10px;
        }

        &--offers{
            margin: 10px;
            &--offerlist{   
                color:$titletextcolor;
                font-size: 13px;
                *{
                    margin:10px 0px;
                }
            }
        }

    }

    &__highlights{
        &--delivery{
            padding: 4px;
            &--field1{
                
              display: inline-flex;
              align-items: center;  
              justify-content: center;

               
              &--span{
                
                margin: 10px 40px 0px 5px;
                font-size: 13px;
                color: $subtitletextcolor;
              }
            }
        }
    }
}
